[Unit] 
Description=rangicus.xyz
After=network.target

[Service] 
WorkingDirectory=/opt/rangicus.xyz
User=root
Environment="BASE_URL=http://rangicus.xyz" 
ExecStart=npm run start
Restart=on-failure

[Install] 
WantedBy=multi-user.target
